[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
babel = "*"
beautifulsoup4 = "*"
easydict = "*"
feedparser = "*"
imagehash = "*"
jinja2 = "*"
pillow = "*"
python-dateutil = "*"
pytz = "*"
schedule = "*"
selenium = "*"
webdriver-manager = "*"
yagmail = "*"

[dev-packages]
matplotlib = "*"
jupyter = "*"
