[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
jinja2 = "*"
pillow = "*"
python-dotenv = "*"
schedule = "*"
selenium = "*"
yagmail = "*"
zstandard = "*"


[dev-packages]
matplotlib = "*"
jupyter = "*"
